*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: Poppins ;
    src: url(/font/Poppins/Poppins-Medium.ttf);
}
button{
    cursor: pointer;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 9, 72, 0.854);
    font-family: Poppins;
    margin: 5rem;
}
.container{
    background-color: #fff;
    width:33.3% ;
    border-radius: 10px;
    padding: 2rem;
}
.container header h1{
    text-align: center;
    font-size: 1.3rem;
}
.container header h2{
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 900;
}
.container header h2 p{
    margin-top: .7rem;
}
.container header h2 p a{
    color: goldenrod;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem;
}
header button{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: none;
}
header button img{
    width: 30px;
    height: 30px;
    margin-right: .7rem;
}
hr{
    display: inline-block;
    width: 44%;
    text-align: center;
    margin: .5rem 0.5rem ;
}
form input{
    background: none;
    border: .5px solid rgba(128, 128, 128, 0.592);
    width: 100%;
    height: 3.5rem;
    margin-top: .5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}
form h3{
    margin-top: 3rem;
}
 footer a{
    text-align: center;
    text-decoration: none;
    color: rgb(86, 5, 111);
    font-size: 1.2rem;
    display: block;
    margin-top: 2rem;
 }
 footer button{
     color: #fff;
     width: 100%;
     padding: 1.5rem;
     text-align: center;
     font-size: 1.2rem;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 3rem;
     margin-bottom: 1rem;
     border: none;
     border-radius: 10px;
     background-color:  rgba(72, 9, 72, 0.854);
     word-spacing: .5rem;
 }









        /* SMALL LAPTOPS */


@media only screen and (max-width:1360px){
    hr{
        width: 42%;
    }
}







            /* PHONE DISPLAY */
 @media (max-width:450px){
    body{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.854);
        font-family: Poppins;
    }
    .container{
        width:100% ;
        border-radius: 00px;
        padding: 1rem;
        margin-top: 2rem;
    }
    .container header h2{
        text-align: center;
        font-size: 1rem;
        margin-top: 1.2rem;
    }
    .container header h2 p{
        font-weight: 400;
    }
    header button{
        padding: .7rem;
        font-size: .9rem;
        margin-top: 1.8rem;
        border: 1px solid rgb(239, 222, 222);
        word-spacing: 0.3rem;
    }
    header button img{
        width: 20px;
        height: 20px;
    }
    hr{
        width: 41.2%;
        max-width: 40% ;
        margin-top:  0.5rem; ;
    }
    form input{
        width: 100%;
        height: 2.7rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    form h3{
        margin-top: 2.5rem;
        font-size: .8rem;
    }
    footer a{
        font-size: 1rem;
        display: block;
        margin-top: 1rem;
    }
    footer button{
        padding: .7rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}